.search__data_day{

    .data_day-button{
        width: 100px;
        height: 30px;
        cursor: pointer;
        background: #dfe0e485;
        border-radius: 8px;
        border: solid #b26d6d5c 1px;
    }
    .data_day-paragraph{
        position: absolute;
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .data_day-span{
            width: 30px;
            height: 30px;
            margin: 0 10px 10px 0;
            border-radius: 5px;
            font-size: 12px;
            line-height: 14px;
            border: solid #b26d6d5c 1px;
            background-color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .data_day-span:hover{
            background: #F9D567;
        }
    }
}