@keyframes showDiv {
    0% {
        height: 0px;
    }
    25% {
        height: 5px;
    }
    50% {
        height: 10px;
    }
    75% {
        height: 15px;
    }
    100% {
        height: 20px;
    }
}

.table {
    width: 750px;
    height: 100%;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    display: flex;
    filter: drop-shadow(0px 0px 4px rgba(136, 136, 136, 0.24));
    border-bottom: solid #c0c0c033 1px;
    background-color: white;
    flex-direction: column;

    @media (max-width: 840px) {
        flex-direction: row;
        align-items: center;
        overflow: auto;
        width: 600px;
        margin-bottom: 100px;
    }
    @media (max-width: 690px) {
        width: 500px;
    }
    @media (max-width: 550px) {
        width: 390px;
    }
    @media (max-width: 445px) {
        width: 270px;
    }

    .table_div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .table_paragraph {
            margin-top: 13px;
            font-size: 13px;
        }
    }
    .table_input {
        width: 90%;
        height: 20px;
        display: flex;
        border: solid silver 1px;
        border-radius: 8px;
        animation: showDiv 0.05s forwards;
        outline: none;
        justify-content: center;
        align-items: center;
    }
}
