.search__data_mont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .data_mont-button{
        width: 100px;
        height: 30px;
        cursor: pointer;
        background: #dfe0e485;
        border-radius: 8px;
        border: solid #b26d6d5c 1px;
    }
    .data_mont-block{
        position: absolute;
        margin-top: 35px;
        width: 100px;
        height: 310px;
        box-shadow: 0px 0px 4px rgb(231, 199, 198);
        background-color: white;
        border-radius: 8px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .data_mont-block_button{
            width: 90px;
            height: 30px;
            margin: 3px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 8px;
            background-color: white;
            border: solid #b26d6d5c 1px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .data_mont-button:hover{
            background: #F9D567;
        }
    }
}