.content__options {
    min-height: 400px;
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(136, 136, 136, 0.24));
    border-radius: 8px;

    @media (max-width: 1080px) {
        height: 140px;
        width: 780px;
        margin-bottom: 30px;
        min-height: auto;
        display: flex;
    }
    @media (max-width: 840px) {
        height: 215px;
        width: 600px;
    }
    @media (max-width: 690px) {
        height: 215px;
        width: 530px;
        flex-direction: column;
    }
    @media (max-width: 550px) {
        height: 300px; 
        width: 420px;
    }
    @media (max-width: 445px) {
        height: 100%; 
        width: 300px;
    }

    .content__options-paragraph {
        height: 80px;
        margin-top: -1px;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 1080px) {
            height: 125px;
            border: none;
            .elem{
                border-bottom: solid #c0c0c04d 1px;
                align-items: center;
                .add{
                    border-radius: 8px;
                }
            }
        }
        @media (max-width: 690px) {
            margin-top: 30px;
            flex-direction: row;
            justify-content: space-evenly;
        }
        @media (max-width: 445px) {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        .elem {
            display: flex;

            a {
                display: flex;
                text-decoration: none;
            }
        }

        .add {
            width: 40px;
            height: 40px;
            border-color: #3498db;
            color: white;
            box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
            cursor: pointer;
            outline: none;
            border: 1px solid #3498db;
            font-size: 30px;
            font-family: Gilroy;
        }

        .add:hover {
            font-weight: 600;
        }

        .but {
            border: none;
            background-color: white;

            .options-paragraph {
                width: 180px;
                height: 40px;
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                cursor: pointer;

                @media (max-width: 550px) {
                    width: 130px;
                }
                @media (max-width: 445px) {
                    width: 230px;
                }
                .options-img {
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .active {
            color: #737df9;
            background-color: #f4f5ff;
        }

        .driver {
            border-radius: 0 8px 0 0;
        }

        .up {
            border-radius: 10px 0 0 0;
        }
    }

    .content__options-filter {
        @media (max-width: 1080px) {
            display: flex;
            width: 1000px;
            height: 120px;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
        }
        @media (max-width: 840px) {
            height: auto;
        }
        @media (max-width: 690px) {
            width: auto;
            height: 120px;
        }
        @media (max-width: 550px) {
            height: 100%;
        }
        @media (max-width: 445px) {
            flex-direction: column;
        }
        .filter_element-inputs {
            height: 140px;
            width: 218px;
            padding: 7px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            input{
                height: 25px;
                width: 95px;
                margin-bottom: 10px;
                border-radius: 8px;
                font-size: 11px;
                color: black;
                border: solid silver 1px;
            }
            @media (max-width: 1080px) {
                height: 100%;
                width: 267px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                input{
                    height: 25px;
                    width: 120px;
                    margin-bottom: 10px;
                    border-radius: 8px;
                    color: black;
                    border: solid silver 1px;
                }
            }
            @media (max-width: 840px) {
                height: 100%;
                width: 130px;
            }
            @media (max-width: 690px) {
                width: 270px;
            }
            @media (max-width: 550px) {
                height: 100%;
                width: auto;
            }
            @media (max-width: 445px) {
                height: 125px;
                width: 100%;
            }
            
        }

        .filter_element-inputRadio {
            display: flex;
            flex-wrap: wrap;
            height: 60px;
            flex-direction: column;
            align-items: stretch;
            align-content: space-around;
            @media (max-width: 1080px) {
                display: flex;
                height: 122px;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
            }
            @media (max-width: 445px) {
                height: 70px;
                width: 100%;
                flex-wrap: wrap;
            }
            .filter-element {
                font-size: 14px;
            }
        }

        .filter_element-yearSelect {
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            select{
                height: 25px;
                width: 200px;
                border-radius: 8px;
                color: black;
                border: solid silver 1px;
                @media (max-width: 1080px) {
                    height: 25px;
                    width: 60px;
                }
            }
            @media (max-width: 445px) {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                select{
                    width: 200px;
                }
            }
        }
        .reset-filter-button {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1080px) {
                height: 100%;
            }
            @media (max-width: 445px) {
                height: auto;
            }
            button{
                width: 200px;
                height: 35px;
                border-radius: 8px;
                color: #D09700;
                background-color: #FEF8E8;
                border: none;
                cursor: pointer;

                @media (max-width: 1080px) {
                    height: 100%;
                    width: 50px;
                }
                @media (max-width: 445px) {
                    width: 300px;
                    height: 45px;
                }
            }
        }
    }
}