.table_section_add,
.search-table_section_add {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 840px) {
        width: 130px;
        height: 95%;
        flex-direction: column;
        justify-content: space-between;
    }

    .table_section_buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .table_section-button {
            width: 40px;
            height: 40px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;

            .closeUnit,
            .addUnit {
                width: 100%;
                cursor: pointer;
            }
        }

        .table_section-button:hover {
            position: relative;
        }
    }

    .table_section-block-input {
        height: 50px;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 840px) {
            height: auto;
        }

        .table_section-input {
            width: 110px;
            height: 23px;
            border-radius: 8px;
            border: solid silver 1px;
        }

        .table_section-input-numbers {
            box-shadow: none;
            width: 110px;
            height: 23px;
            border-radius: 8px;
            border: solid silver 1px;
        }

        .table_section-input::-webkit-calendar-picker-indicator {
            padding: 0;
            margin: 2px 5px 0 0;
        }
    }

    select {
        height: 30px;
        border-radius: 8px;
        border: solid silver 1px;
    }

    .table_section_add-select {
        display: flex;

        div {
            display: flex;
            justify-content: center;

            @media (max-width: 840px) {
                align-items: center;
                flex-direction: column;
                order: 1;
            }
        }
    }

    .table_section-tab-select {
        background-color: white;
        color: #7a7a7a;
        padding: 0;
        min-width: 65px;

        @media (max-width: 840px) {
            width: 115px;
            height: 26px;
            order: 1;
        }
    }
}

.table_section-error {
    position: absolute;
    min-height: 25px;
    width: 80px;
    border-radius: 8px;
    top: 55px;
    font-size: 12px;
    background-color: white;
    border: solid #c0c0c054 1px;
    color: red;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    @media (max-width: 840px) {
        position: absolute;
        width: 140px;
        margin-left: 45%;
        top: auto;
        order: 2;
    }
}

.table_section-error:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 38%;
    top: -10px;
    border-bottom: 10px solid #dadada;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    @media (max-width: 840px) {
        transform: rotate(270deg);
        top: auto;
        left: -14px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }
<<<<<<< HEAD
=======
    @media (max-width: 690px) {
        margin-left: 55%;
    }
    @media (max-width: 445px) {
        margin-left: 95%;
    }
>>>>>>> origin/dev
}
