.header__content{
    display: flex;
    justify-content: space-between;
    .leftSide {
        display: flex;
        .divForButton {
            margin-top: 16px;
            margin-left: 30px;
            .button {
                width: 24px;
                height: 24px;
                align-items: center;
                border: none;
                cursor: pointer;
            }
        }
        .logo {
            width: 176px;
            height: 40px;
            margin-left: 27px;
            margin-top: 8px;
        }
    }
    .rightSide {
        .user {
            margin-top: 8px;
            margin-right: 8px;
            .iconUser {
                align-items: center;
                border: none;
                cursor: pointer;
                width: 40px;
                height: 40px;
            }
        }
        p {
            margin-top: 16px;
            margin-right: 10px;
        }
        .vector {
                margin-top: 25px;
                margin-right: 27px;
            .vectorDown {
                align-items: center;
                border: none;
                cursor: pointer;
                width: 9px;
                height: 5px;
            }
        }
    }
}