@keyframes slideright {
    0% {
        transform: translateY(-100%);
        color: skyblue;
    }       
    100% {
        color: black;
        transform: translateY(0%);
    }   
}

@keyframes advancing {
    0% {
        height: 0;
    }       
    100% {
        min-height: 100%;
    }  
}

.table_section{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid #EEEEEE;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;

    .table_section-deleteButton {
        margin-left: 30px;
        height: 30px;
        border-color: #e22721;
        color: white;
        box-shadow: 0 0 40px 40px #e22721 inset, 0 0 0 0 #e22721;
        cursor: pointer;
        outline: none;
        border: 1px solid #e22721;
        border-radius: 10px;
    }
    .table_section-showButton {
        margin-left: 30px;
        height: 30px;
        border-color: #21e22b;
        color: white;
        box-shadow: 0 0 40px 40px #21e22b inset, 0 0 0 0 #21e22b;
        cursor: pointer;
        outline: none;
        border: 1px solid #21e22b;
        border-radius: 10px;
    }
}
.table_section_isActive{
    padding: 0 40px;
    flex-direction: column;
    display: flex;
    height: 100px;
    overflow: scroll;
    border: 1px solid #EEEEEE;

    animation-name: advancing;
    animation-duration: .5s;

    .table_section_isActive-style{

        .block{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #8c898999;  
            p{
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
    
                img{
                    margin-left: 10px;
                    height: 15px;
                    width: 15px;
                }  
            }
        }
    }
}
