.title-section {
    width: auto;
    height: 25px;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 840px) {
        height: auto;
        margin-left: 20px;
        justify-content: center;
        flex-direction: column;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: none;
    }

    .title-section-title {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;

        @media (max-width: 840px) {
            height: 36px;
        }
    }

    .title-section-title:first-child {
        width: 45%;

        @media (max-width: 840px) {
            height: 36px;
        }
    }

    .title-section-button {
        min-width: 155px;
        margin-left: 19px;
        display: flex;
        justify-content: flex-end;

        .title-section-title {
            margin-left: 10px;
            width: auto;
        }

        .title-section-title:first-child {
            width: 100px;
        }

        @media (max-width: 840px) {
            margin-left: 0;
            display: flex;
            flex-direction: column;

            .title-section-title:first-child {
                margin-right: 0;
            }
        }
    }
}
