.table-section-tab {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.table-section-tab:first-child {
    width: 45%;
}
.table-section-tab-select{
    height: 25px;
    border-radius: 8px;
    color: black;
    border: solid silver 1px;
}