.container {
    width: 1300px;
    height: 790px;
    border: 1px solid red;
    margin: 0 50%;
    transform: translate(-50%);
}
.header {
    border: 1px solid purple;
    height: 7%;
}
.content {
    border: 1px solid green;
    height: 75%;
}
.content__options {
    height: 100%;
    width: 25%;
    border: 1px solid black;
}
.content__options-buttons {
    height: 30%;
    border: 1px solid purple;
}
