body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: #F9F9F9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), 
  src('./gilroy/Gilroyextrabold.woff2') format('woff2'), 
  src('./gilroy/Gilroyextrabold.woff') format('woff'), 
  src('./gilroy/Gilroyextrabold.ttf') format('truetype');

}