.search__data_year{

    .data_year-button{
        width: 100px;
        height: 30px;
        cursor: pointer;
        background: #dfe0e485;
        border-radius: 8px;
        border: solid #b26d6d5c 1px;
    }
    .data_year-block{
        position: absolute;
        width: 100px;
        height: 310px;
        border: solid #b26d6d5c 1px;
        background-color: white;
        border-radius: 8px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        .data_year-block_button{
            width: 90px;
            height: 30px;
            margin: 3px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 8px;
            background-color: white;
            border: solid #b26d6d5c 1px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        .data_year-block_button:hover{
            background: #F9D567;
        }
    }
}